{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
    <h2>Seleccionar universidad para: {{ estudiante.nombre1 }} {{ estudiante.apellido1 }}</h2>
{% endblock %}
{% block seccion-contenido %}

    <div class="btn-group">
    <a class ="btn btn-default" href="/ver_tabla_postulados/1">Opción 1</a> <a class ="btn btn-default" href="/ver_tabla_postulados/2">Opción 2</a> <a class ="btn btn-default" href="/sin_asignar/0">Opcion Alternativa</a>
    </div>
      <table class="table table-striped table-bordered table-hover" id="content">
<thead>
                        <th>Nombre</th>
                        <th>Pais</th>
                        <th>Programa</th>
                        <th>Cupo</th>
                        <th>Acciones</th>
                    </thead>
                    {% for universidad in universidades %}
                    <tr>
                        <td>{{ universidad.nombre }}</td>
                        <td>{{ universidad.pais }}</td>
                        <td>{{ universidad.programa.nombre }}</td>
                        <td>{{ universidad.cupo }}</td>
                        <td><a class="btn btn-default btn-sm" href="/asignar_universidad/{{ universidad.id }}/{{ estudiante.id }}">
                            seleccionar
                        </button>
                        </td>
                    </tr>
                    {% endfor %}
    </table>
{% endblock %}
{% block js %}
<script type="text/javascript">
        function ajax_aceptar(id, id_estudiante){
                $.ajax({
                    data:{'id_universidad':id, 'id_estudiante': id_estudiante, 'opcion': {{opcion}} },
                    url:'/ajax_aceptar_postulado/',
                    type:'get',
                    error:function(){
                        alert('No se pudo asignar la universidad');
                    }

                }).done(function(data){
                    for(var i=0;i<data.length;i++){
                        var estudiante = "estudiante"+data[i].fields.nombreEstud;
                        var cupo = "cupo"+data[i].fields.nombreUniv;
                        var accion = "accion"+data[i].fields.nombreEstud;
                        //alert(estudiante);
                        //alert(document.getElementById(estudiante).innerHTML);
                        //alert("estudiante"+data[i].fields.nombre.toString());
                        document.getElementById(estudiante).setAttribute("class", "success");
                        document.getElementById(accion).innerHTML= "<button class=\"btn btn-default btn-sm\" onclick=\"ajax_deshacer('"+ id +"','"+ id_estudiante +"')\">Deshacer</button><button class=\"btn btn-default btn-sm\"><a href=\"/verDetallePostulacionDRIC/" + id_estudiante + "\" class=\"btn-xs btn-default\">Ver</a></button>";

                        document.getElementById(cupo).innerHTML = "Cupos: " + (parseInt(document.getElementById(cupo).innerHTML.split(" ")[1]) - 1).toString();
                        //document.getelementbyid('id_encargado').innerhtml = document.getelementbyid('id_encargado').innerhtml+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
                    }

                });
        }
        function ajax_deshacer(id, id_estudiante){
                $.ajax({
                    data:{'id_universidad':id, 'id_estudiante': id_estudiante, 'opcion': {{opcion}} },
                    url:'/ajax_deshacer_postulado/',
                    type:'get',
                    error:function(){
                        alert('No se pudo asignar la universidad');
                    }

                }).done(function(data){
                    for(var i=0;i<data.length;i++){
                        var estudiante = "estudiante"+id_estudiante;
                        var cupo = "cupo"+id;
                        var accion = "accion"+id_estudiante;
                        //alert(estudiante);
                        //alert(document.getElementById(estudiante).innerHTML);
                        //alert("estudiante"+data[i].fields.nombre.toString());
                        document.getElementById(estudiante).className="";
                        document.getElementById(accion).innerHTML= "<button class=\"btn btn-default btn-sm\" onclick=\"ajax_aceptar('"+ id +"','"+ id_estudiante +"')\">Aceptar</button><button class=\"btn btn-default btn-sm\"><a href=\"/verDetallePostulacionDRIC/" + id_estudiante + "\" class=\"btn-xs btn-default\">Ver</a></button>";
                        document.getElementById(cupo).innerHTML = "Cupos: " + (parseInt(document.getElementById(cupo).innerHTML.split(" ")[1]) + 1).toString();
                        location.reload(true);
                        //document.getelementbyid('id_encargado').innerhtml = document.getelementbyid('id_encargado').innerhtml+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
                    }

                });
        }
</script>
{% endblock %}
