{% extends "tabla.html" %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}
    <h3>Datos personales</h3>
        <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Datos personales</th>
                <th></th>
            </thead>
            <tr>
                <td>Primer nombre: {{estudiante.nombre1}}</td>
                <td>Segundo nombre: {{estudiante.nombre2}}</td>
            </tr>
            <tr>
                <td>Primer apellido: {{estudiante.apellido1}}</td>
                <td>Segundo apellido: {{estudiante.apellido2}}</td>
            </tr>
            <tr>
                <td>Sexo: {{estudiante.sexo}}</td>
                <td>Nacionalidad: {{estudiante.nacionalidad}}</td>
            </tr>
            <tr>
                <td>Cedula: {{estudiante.cedula}}</td>
                <td>Carnet: {{estudiante.carnet}}</td>
            </tr>
            <tr>
                <td>Telefono casa: {{estudiante.telfCasa}}</td>
                <td>Telefono celular: {{estudiante.telfCel}}</td>
            </tr>
            <tr>
                <td>Email: {{estudiante.user.email}}</td>
                <td>Urbanizacion: {{estudiante.urbanizacion}}</td>
            </tr>
            <tr>
                <td>Calle: {{estudiante.calle}}</td>
                <td>Edificio/Casa: {{estudiante.edificio}}</td>
            </tr>
            <tr>
                <td>Apartamento/Numero casa: {{estudiante.apartamento}}</td>
                <td>Codigo postal: {{estudiante.codigopostal}}</td>
            </tr>

        </table>

    <h3>Datos de emergencia</h3>
        <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Datos de emergencia</th>
                <th></th>
            </thead>
            <tr>
                <td>Apellidos: {{estudiante.representante.apellido}}</td>
                <td>Nombres: {{estudiante.representante.nombre}}</td>
            </tr>
            <tr>
                <td>Relacion con el estudiante: {{estudiante.representante.tipoRelacion}}</td>
                <td>Celular: {{estudiante.representante.telefCel}}</td>
            </tr>
            <tr>
                <td>Telefono: {{estudiante.representante.telefCasa}}</td>
                <td>Email: {{estudiante.representante.email}}</td>
            </tr>
            <tr>
                <td>Direccion: {{estudiante.representante.direccion}}</td>
                <td></td>
            </tr>
        </table>

    <h3>Idiomas a emplear</h3>
        <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Idioma</th>
                <th>Nivel Verbal</th>
                <th>Nivel Escrito</th>
                <th>Nivel Auditivo</th>
            </thead>
            {% for idioma in estudiante.idiomas.all %}
                <tr>
                    <td>{{idioma.idioma.nombre}}</td>
                    <td>{{idioma.verbal}}</td>
                    <td>{{idioma.escrito}}</td>
                    <td>{{idioma.auditivo}}</td>
                </tr>
            {% endfor %}
        </table>

    <h3>Primera opcion</h3>
         <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Primera opcion</th>
            </thead>

            <tr>
                <td>Nombre universidad destino: {{estudiante.primeraOpcion.univ.nombre}}</td>
            </tr>
            <tr>
                <td>Nombre del programa: {{estudiante.primeraOpcion.programa}} </td>
            </tr>
            <tr>
                <td>Fecha inicio: {{estudiante.primeraOpcion.fechaInicio}} {{estudiante.primeraOpcion.anoInicio}} </td>
            </tr>
            <tr>
                <td>Fecha fin: {{estudiante.primeraOpcion.fechaFin}} {{estudiante.primeraOpcion.anoFin}}  </td>
            </tr>
        </table>

    <h3>Segunda opcion</h3>
        <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Segunda opcion</th>
            </thead>

            <tr>
                <td>Nombre universidad destino: {{estudiante.segundaOpcion.univ.nombre}}</td>
            </tr>
            <tr>
                <td>Nombre del programa: {{estudiante.segundaOpcion.programa}} </td>
            </tr>
            <tr>
                <td>Fecha inicio: {{estudiante.segundaOpcion.fechaInicio}} {{estudiante.segundaOpcion.anoInicio}} </td>
            </tr>
            <tr>
                <td>Fecha fin: {{estudiante.segundaOpcion.fechaFin}} {{estudiante.segundaOpcion.anoFin}}  </td>
            </tr>
        </table>

    <h3>Informacion academica</h3>
        <table class="table table-striped table-bordered table-hover" >
            <thead>
                <th>Informacion academica</th>
                <th></th>
                <th></th>
            </thead>

            <tr>
                <td>Carrera: </td>
                <td>Numero de creditos aprobados:</td>
                <td>Indice: </td>
            </tr>
            <tr>

                <td>Asignaturas del plan de estudio USB</td>
                <td></td>
                <td></td>
            </tr>
            {% for plan in estudiante.planDeEstudio.all %}
                <tr>
                    <td>{{plan.materiaUsb.nombre}} </td>
                    <td>{{plan.materiaUsb.codigo}}</td>
                    <td>{{plan.materiaUsb.creditos}}</td>
                </tr>
            {% endfor %}

            <tr>

                <td>Asignaturas a cursar en la universidad de destino</td>
                <td></td>
                <td></td>
            </tr>
            {% for plan in estudiante.planDeEstudio.all %}
                <tr>
                    <td>{{plan.nombreMateriaUniv}} </td>
                    <td>{{plan.codigoUniv}}</td>
                    <td>{{plan.creditosUniv}}</td>
                </tr>
            {% endfor %}
        </table>

{% endblock %}
