{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
    {% if opcion == "1" %}
        <h2>Lista para opcion 1</h2>
    {% elif opcion == "2" %}
        <h2>Lista para opcion 2</h2>
    {% endif %}
{% endblock %}
{% block tabla %}
    <div class="btn-group">
    <a class ="btn btn-default" href="/ver_tabla_postulados/1">Opción 1</a> <a class ="btn btn-default" href="/ver_tabla_postulados/2">Opción 2</a> <a class ="btn btn-default" href="/sin_asignar/0">Opcion Alternativa</a>
    </div>
    <table class="table table-bordered table-hover table-responsive">
    {% for elemento in lista %}
        {% if elemento.2 == "universidad" %}
            <tr id="univ{{ elemento.1.id }}" style="background-color: #f9f9f9;">
                <td><strong>{{ elemento.1.nombre }}</strong></td>
                <td>Pais: {{ elemento.1.pais }}</td>
                <td id="cupo{{ elemento.1.id }}">Cupos: {{ elemento.1.cupo }}</td>
                <td></td>
                <td></td>
            </tr>
        {% else %}
            <tr id="estudiante{{ elemento.0.username.id }}" {% if elemento.3 == 3 %}class="warning"{% endif %}{% if elemento.3 == 1 %} class="success" {% endif %}{% if elemento.1.cupo == 0 and elemento.3 == 0 %}class="danger"{% endif %}>
                <td>{{ elemento.0.username.nombre1 }} {{ elemento.0.username.apellido1 }}</td>
                <td>Carnet: {{ elemento.0.username.carnet }}</td>
                <td>Carrera: {{ elemento.0.username.carrera_usb }}</td>
                <td>Indice Normalizado: {{ elemento.0.indice_normalizado }}</td>
                <td id="accion{{ elemento.0.username.id }}">
                    {% if elemento.3 == 1 %}
                        <button class="btn btn-default btn-sm" onclick="ajax_deshacer('{{ elemento.1.id }}','{{ elemento.0.username.id }}')">Deshacer</button>
                    {% else %}
                        {% if elemento.1.cupo != 0 and elemento.3 == 0  %}
                            <button class="btn btn-default btn-sm" onclick="ajax_aceptar('{{ elemento.1.id }}','{{ elemento.0.username.id }}')">Aceptar</button>
                        {% endif %}

                    {% endif %}
                	<button class="btn btn-default btn-sm"><a href="/verDetallePostulacionDRIC/{{elemento.0.id}}" class="btn-xs btn-default">Ver</a></button>
                </td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}
{% block js %}
<script type="text/javascript">
        function ajax_aceptar(id, id_estudiante){
                $.ajax({
                    data:{'id_universidad':id, 'id_estudiante': id_estudiante, 'opcion': {{opcion}} },
                    url:'/ajax_aceptar_postulado/',
                    type:'get',
                    error:function(){
                        alert('No se pudo asignar la universidad');
                    }

                }).done(function(data){
                    for(var i=0;i<data.length;i++){
                        var estudiante = "estudiante"+data[i].fields.nombreEstud;
                        var cupo = "cupo"+data[i].fields.nombreUniv;
                        var accion = "accion"+data[i].fields.nombreEstud;
                        //alert(estudiante);
                        //alert(document.getElementById(estudiante).innerHTML);
                        //alert("estudiante"+data[i].fields.nombre.toString());
                        document.getElementById(estudiante).setAttribute("class", "success");
                        document.getElementById(accion).innerHTML= "<button class=\"btn btn-default btn-sm\" onclick=\"ajax_deshacer('"+ id +"','"+ id_estudiante +"')\">Deshacer</button><button class=\"btn btn-default btn-sm\"><a href=\"/verDetallePostulacionDRIC/" + id_estudiante + "\" class=\"btn-xs btn-default\">Ver</a></button>";

                        document.getElementById(cupo).innerHTML = "Cupos: " + (parseInt(document.getElementById(cupo).innerHTML.split(" ")[1]) - 1).toString();
                        //document.getelementbyid('id_encargado').innerhtml = document.getelementbyid('id_encargado').innerhtml+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
                    }

                });
        }
        function ajax_deshacer(id, id_estudiante){
                $.ajax({
                    data:{'id_universidad':id, 'id_estudiante': id_estudiante, 'opcion': {{opcion}} },
                    url:'/ajax_deshacer_postulado/',
                    type:'get',
                    error:function(){
                        alert('No se pudo asignar la universidad');
                    }

                }).done(function(data){
                    for(var i=0;i<data.length;i++){
                        var estudiante = "estudiante"+id_estudiante;
                        var cupo = "cupo"+id;
                        var accion = "accion"+id_estudiante;
                        //alert(estudiante);
                        //alert(document.getElementById(estudiante).innerHTML);
                        //alert("estudiante"+data[i].fields.nombre.toString());
                        document.getElementById(estudiante).className="";
                        document.getElementById(accion).innerHTML= "<button class=\"btn btn-default btn-sm\" onclick=\"ajax_aceptar('"+ id +"','"+ id_estudiante +"')\">Aceptar</button><button class=\"btn btn-default btn-sm\"><a href=\"/verDetallePostulacionDRIC/" + id_estudiante + "\" class=\"btn-xs btn-default\">Ver</a></button>";
                        document.getElementById(cupo).innerHTML = "Cupos: " + (parseInt(document.getElementById(cupo).innerHTML.split(" ")[1]) + 1).toString();
                        location.reload(true);
                        //document.getelementbyid('id_encargado').innerhtml = document.getelementbyid('id_encargado').innerhtml+'<option value='+data[i].pk+'>'+data[i].fields.nombre+'</option>';
                    }

                });
        }
</script>
{% endblock %}
