{% extends 'tabla.html' %}
{% load bootstrap %}
{% block titulo %}
{% endblock %}
{% block tabla %}

    <h3>Casos excepcionales</h3>
    <br>
    <table class="table table-striped table-bordered table-hover" id="content">
            <thead>
                <th>Nombre y Apellido</th>
                <th>Tipo Solicitud</th>
                <th>Recomendado por coordinacion</th>
                <th class="actions">Acción</th>
            </thead>
            {% for estudiante in estudiantes %}
                <tr>
                    <td>{{ estudiante.nombre1 }} {{ estudiante.apellido1 }} </td>
                    <td>    {% if estudiante.casosExc.pasantia %}
                                Petición de pasantía
                            {% else %}
                                {% if estudiante.casosExc.proyecto %}
                                    Petición proyecto de grado
                                {% else %}
                                    {% if estudiante.casosExc.trimestre %}
                                        Petición añadir un trimestre
                                    {% else %}
                                        {% if estudiante.casosExc.planEstudio %}
                                            Modificar plan de estudio
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endif %}
                    </td>
                    <td> {% if estudiante.casosExc.recomendadoCoordinacion %} Si {% else %} No {% endif %}</td>
                    <td class="actions">
                        <button class="btn-xs btn-default"><a href="/verDetalleCasosExcGestor/{{estudiante.id}}" class="btn-xs btn-default">Ver</a></button>
                        <button class="btn-xs btn-default"><a href="/recomendarCasoCoord/{{estudiante.id}}" class="btn-xs btn-default"> Aceptar </a></button>
                        {% comment %}
                            <button type="button" onclick="deleteAlert({{postulacion.username.id}})" class="btn-xs btn-default btn-danger">Eliminar</button>
                        {% endcomment %}
                        <button class="btn-xs btn-default"><a href="/noRecomendarCasoCoord/{{estudiante.id}}" class="btn-xs btn-default">No Aceptar</a></button>
                    </td>
                </tr>
            {% endfor %}
    </table>
{% endblock %}

{% block js %}
{% endblock %}
