{% extends 'base.html' %}
{% load bootstrap %}
{% block seccion-contenido %}
    <form method="POST">{% csrf_token %}
            <div class="row">
                    <div id="selector" class="col-sm-6 col-sm-offset-2 form-group">
                        <label class="control-label">Tipo de usuario</label>
                        <div class="">
                            <select id="opcion" name="opcion" class="form-control" onchange="seleccionar()">
                                <option value="decanato">Decanato</option>
                                <option value="dric">DRIC</option>
                                <option value="coordinacion">Coordinación</option>
                                <option value="estudianteUSB">Estudiante</option>
                                <option value="estudianteExt">Estudiante Extranjero</option>
                                <option value="universidad">Universidad Extranjera</option>
                            </select>
                        </div>
                    {% if error %}
                    <span class="help-block has-error" style="color: #a94442;">El nombre de usuario ya existe</span>
                    {% endif %}
                    </div>
                    <div id="decanato" class="col-sm-6 col-sm-offset-2 escondido">
                        {{ formularioUsuario | bootstrap }}
                    </div>
                    <div id="coordinacion" class="col-sm-6 col-sm-offset-2 escondido">
                        {{ formularioCoordinacion | bootstrap }}
                    </div>
                    <div id="estudianteUSB" class="col-sm-6 col-sm-offset-2 escondido">
                        {{ formularioEstudiante | bootstrap }}
                    </div>
                    <div id="estudianteExt" class="col-sm-6 col-sm-offset-2 escondido">
                        {{ formularioEstudianteExtranjero | bootstrap }}
                    </div>
                    <div id="universidad" class="col-sm-6 col-sm-offset-2 escondido">
                        {{ formularioUniversidad | bootstrap }}
                    </div>

                    <div class="col-sm-12">
                        <input type='submit' class="btn btn-default btn-primary" value='Crear'/>
                    </div>
            </div>
    </form>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $(".escondido").hide();
        $('#opcion').val('{{ seleccionado }}');
        $("#" + $("#opcion").val()).show();

});
function seleccionar(){
        $(".escondido").hide();
        if ($("#opcion").val() == "dric"){
            $("#decanato").show();
        }else{
            $("#" + $("#opcion").val()).show();
        }

}
</script>
{% endblock %}