{% extends 'tabla.html' %}
{% block seccion-contenido %}

      <table class="table table-striped table-bordered table-hover" id="content">
            <thead>
                <th>Usuario</th>
                <th>Acción</th>
                <th>Fecha</th>
            </thead>
        {% for item in log %}
            <tr>
                <td>{{ item.usuario }}</td>
                <td>{{ item.suceso }}</td>
                <td>{{ item.fecha }}</td>
            </tr>
        {% endfor %}
        </table>
{% endblock %}