{% extends "base.html" %}
{% load bootstrap %}
{% block seccion-contenido %}
    <p><a href="/administrador_listar_usuarios/0">Atras</a></p>
    <div class="row">
        <div class="col-sm-3">
            Usuario:<br> {{ usuario.username }}
        </div>
        <div class="col-sm-3">
            Nombre:<br>{% if usuario.first_name == "decanato" or usuario.first_name == "dric" %}
                            {{ perfil.nombre }}
                        {% elif usuario.first_name == "coordinacion" %}
                            {{ perfil.carrera }}
                        {% elif usuario.first_name == "estudiante" or usuario.first_name == "extranjero" %}
                            {{ perfil.nombre1 }} {{ perfil.apellido1 }}
                        {% elif usuario.first_name == "universidad" %}
                            {{ perfil.universidad.nombre }}
                        {% endif %}
        </div>
        <div class="col-sm-3">
            Email:<br> {{ usuario.email }}
        </div>
        <div class="col-sm-3">
            Privilegio:<br> {{ usuario.first_name }}
        </div>
    </div>

{% endblock %}