{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
<script>
    function agregar_materiaCON() {
        var contador = document.getElementById('count').value;
        contador = parseInt(contador) + 1;
        document.getElementById('count').value = contador;
        $("#tabla_idiomas").append("<tr><td><select name=\"lista_idiomas\" id=\"listCON\" class=\"form-control\"> {% for materia in materias %}<option value=\"{{materia.id}}\">{{materia.codigo}}</option>{% endfor %}</select></td><td><input type=\"text\" id=\"cred{{materia.id}}\" class=\"form-control\"/></td><td><input type=\"text\" id=\"nombre{{materia.id}}\" class=\"form-control\"/></td><td><input type=\"text\" class=\"form-control\" name='cod_des_" + contador + "'></td><td><input type=\"text\" class=\"form-control\" name='nom_des_" + contador + "'></td><td><input type=\"text\" class=\"form-control\" name='cred_des_" + contador + "'></td><td><button>Eliminar</button></td></tr>");
    }
</script>
<script>
    function agregar_materiaSIN() {
        var contador = document.getElementById('count').value;
        contador = parseInt(contador) + 1;
        document.getElementById('count').value = contador;
        $("#tabla_idiomas").append("<tr><td><select name=\"lista_idiomas\" id=\"listSIN\" class=\"form-control\"> {% for materia in materias %}<option value=\"{{materia.id}}\">{{materia.codigo}}</option>{% endfor %}</select></td><td><input type=\"text\" id=\"cred{{materia.id}}\" class=\"form-control\"/></td><td><input type=\"text\" id=\"nombre{{materia.id}}\" class=\"form-control\"/></td><td><input type=\"text\" class=\"form-control\" name='cod_des_" + contador + "'></td><td><input type=\"text\" class=\"form-control\" name='nom_des_" + contador + "'></td><td><input type=\"text\" class=\"form-control\" name='cred_des_" + contador + "'></td><td><button>Eliminar</button></td></tr>");
    }
</script>

{% endblock %}

{% block seccion-contenido %}
<div class="container">
    <h3>Paso 4: Dominio de idiomas</h3>
    <input type="hidden" id="count" name="count" {% if hayPlan %} value="{{tamano}}" {% else %} value="0" {% endif %}/>

    <form class="" id='formulario_invoice' method='post' action=''>{% csrf_token %}
        <table id="tabla_idiomas" class="content table table-hover table-condensed"    >
            <thead>
            <th>Idioma que maneja</th>
            <th>Nivel verbal</th>
            <th>Nivel escrito</th>
            <th>Nivel auditivo</th>
            <th>Eliminar</th>
            </thead>


            {% if hayIdioma %}
            {% for planEst in estudiante.planDeEstudio.all %}
                <tr>
                    <td>
                        <select name="lista_idiomas" id="listCON" class="form-control">
                            {% for materia in materias %}
                            <option value="{{materia.id}}" {% if planEst.materiaUsb.codigo == materia.codigo %}selected{%endif%}>{{materia.codigo}}</option>
                            {% endfor %}
                        </select>
                    </td>
                    <td><input type="text" id="cred{{materia.id}}" class="form-control"/></td>
                    <td><input type="text" id="nombre{{materia.id}}" class="form-control"/></td>
                    <td><input type="text" name="cod_des_0" class="form-control" value="{{planEst.codigoUniv}}"> </input> </td>
                    <td><button>Eliminar</button></td>
                </tr>
            {% endfor %}
            {% else %}
            <tr>
                <td>
                    <select name="lista_idiomas" id="listSIN" class="form-control">
                        {% for idioma in idiomas %}
                        <option value="{{idioma.id}}" >{{idioma.nombre}}</option>
                        {% endfor %}
                    </select>
                </td>
                <td>
                    <select name="verbal_0" id="verbal_SIN" class="form-control">
                    <option value="basico">Básico</option>
                    <option value="intermedio">Intermedio</option>
                    <option value="avanzado">Avanzado</option>
                    </select>
                </td>
                <td>
                    <select name="escrito_0" id="escrito_SIN" class="form-control">
                        <option value="basico">Básico</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                </td>
                <td>
                    <select name="auditivo_0" id="auditivo_SIN" class="form-control">
                        <option value="basico">Básico</option>
                        <option value="intermedio">Intermedio</option>
                        <option value="avanzado">Avanzado</option>
                    </select>
                </td>
                <td><button>Eliminar</button></td>
            </tr>
            {% endif %}
        </table>

        <input type='submit' class="btn btn-primary" value='Guardar' />
    </form>
    {% if hayPlan %}
    <button id="boton_agregarCON" onclick="agregar_materiaCON()" class="btn btn-primary">Agregar idioma</button>
    {% else %}
    <button id="boton_agregarSIN" onclick="agregar_materiaSIN()" class="btn btn-primary">Agregar idioma</button>
    {% endif %}
</div>


</div>
{% endblock %}