{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion-contenido %}

    <div class="row">
        <div class="col-md-5 col-md-push-1 col-sm-3">
            <h2 >Estado de Postulación</h2>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-5 col-md-push-2 col-sm-3">
            <font size=4>
                <p>Hola <strong>{{ estudiante.nombre1 }} {{ estudiante.apellido1 }}</strong>,</p>
                <p>El estado actual es: <strong>{{ postulacion.estadoPostulacion }} </strong></p>
            </font>
        </div>
    </div>

{% endblock %}