{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
<script>
    function numero(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) ) {
          return false;
          }
          return true;
    }
</script>
{% endblock %}

{% block seccion-contenido %}
    <div class="container">
        <h3>Paso 1.1: Datos personales</h3>
        <form id='formulario' method='post' action=''> {% csrf_token %}
            <div class="row">

                    <div class="col-md-5 col-sm-10">

                            {{ formulario.nombre1 | bootstrap }}
                            {{ formulario.apellido1 | bootstrap }}
                            {{ formulario.genero | bootstrap }}
                            {{ formulario.nacionalidad | bootstrap }}
                            {{ formulario.carnet | bootstrap }}

                    </div>
                    <div class="col-md-5 col-sm-10">
                            {{ formulario.nombre2 | bootstrap }}
                            {{ formulario.apellido2 | bootstrap }}
                            {{ formulario.fecha | bootstrap }}
                            {{ formulario.cedula | bootstrap }}
                    </div>
            </div>
            <div class="row">
                <div class="final col-md-4 col-md-push-4 col-sm-4 col-sm-push-4">

                </div>
                <div class="final col-md-1 col-md-push-1 col-sm-1 col-sm-push-1">
                    <input type='submit' class="btn btn-primary" value='Siguiente' />
                </div>
            </div>
        </form>
    </div>
{% endblock %}
