{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
<script>
    function numero(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) ) {
          return false;
          }
          return true;
    }
</script>
{% endblock %}

{% block seccion-contenido %}
    <div class="container">
        <form id='formulario' method='post' action=''> {% csrf_token %}
            {{ formulario | bootstrap }}
            <input type='submit' class="btn btn-primary" value='Guardar' />
        </form>
    </div>
{% endblock %}