{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}

<script>
    function numero(e) {
          var codigo;
          codigo = (document.all) ? e.keyCode : e.which;
          if (codigo > 31 && (codigo < 48 || codigo > 57) ) {
          return false;
          }
          return true;
    }
</script>

<script>
	function verPais(btn){
        document.getElementById('divPROGRAMA1').style.display = 'none';
        var id = $(btn).val();
        console.log(id);
        $.ajax({
            data : {'modo':'convenio','id':id},
            url: '/ajaxConvenio/',
            type: 'get',
            success: function(data){
                console.log(data);
                var paises = "";
                var uni = "";
                paises += '<label>País</label><select id="paises_prog" onchange="verUniv(this)" onclick="verUniv(this)" class=" form-control">';
                for(var i=0; i<data.length; i++){
                    paises += '<option value="' + data[i].pk + '">'+ data[i].fields.printable_name +'</option> ';
                }
                paises += '</select>';
            $('#paises').html(paises);

            }
        });
	}
</script>

<script>
	function verPais_Dos(btn){
        var id = $(btn).val();
        console.log(id);
        $.ajax({
            data : {'modo':'convenio','id':id},
            url: '/ajaxConvenio/',
            type: 'get',
            success: function(data){
                console.log(data);
                var paises = "";
                var uni = "";
                paises += '<label>País</label><select id="paises_prog_dos" onchange="verUnivDos(this)" onclick="verUnivDos(this)" class=" form-control">';
                for(var i=0; i<data.length; i++){
                    paises += '<option value="' + data[i].pk + '">'+ data[i].fields.printable_name +'</option> ';
                }
                paises += '</select>';
            $('#paises_2').html(paises);

            }
        });
	}
</script>

<script>
    function verUniv(btn){
       var name = $(btn).val();
       console.log('el id es: ' + name);
       $.ajax({
            data : {'modo':'pais','name':name},
            url: '/ajaxConvenioPais/',
            type: 'get',
            success: function(data){
                console.log(data);
                var uni = "";
                uni += '<label>Universidad</label><select id="uni_prog" name="uni1" class=" form-control">';
                for(var i=0; i<data.length; i++){
                    uni += '<option value="' + data[i].pk + '">'+ data[i].fields.nombre +'</option> ';
                }
                uni += '</select>';
            $('#uni_1').html(uni);
            document.getElementById('divPROGRAMA1').style.display = 'block';
            }
        });
    }
</script>

<script>
    function verUnivDos(btn){
       var name = $(btn).val();
       console.log('el id es: ' + name);
       $.ajax({
            data : {'modo':'pais','name':name},
            url: '/ajaxConvenioPais/',
            type: 'get',
            success: function(data){
                console.log(data);
                var uni = "";
                uni += '<label>Universidad</label><select id="uni_prog_dos" name="uni2" class=" form-control">';
                for(var i=0; i<data.length; i++){
                    uni += '<option value="' + data[i].pk + '">'+ data[i].fields.nombre +'</option> ';
                }
                uni += '</select>';
            $('#uni_2').html(uni);
            document.getElementById('divPROGRAMA2').style.display = 'block';
            }
        });
    }
</script>

{% endblock %}

{% block seccion-contenido %}
    <div class="container">
        <h3>Paso 1.4: Programas</h3>
        <form id='formulario' method='post' action=''> {% csrf_token %}
                <div class="row">
                    <div class="col-md-5 col-sm-10">
                        <h4 style="text-align: center;">Primera Opción</h4>
                        {{ formulario.programaUno | bootstrap }}
                        <div id="paises">
                            {% if hayOpcion %}
                                    <label>País </label>
                                    <select id="paises_prog" onchange="verUnivDos(this)" onclick="verUnivDos(this)" class=" form-control">
                                        {% for pais_1 in paises1 %}
                                            <option value="{{pais_1.id}}" {%if pais_1.iso == estudiante.primeraOpcion.univ.pais.iso %} selected {% endif %}>{{pais_1.printable_name}}</option>
                                        {% endfor %}
                                    </select>
                            {% endif %}
                        </div><br>
                        <div id="divPROGRAMA1" style="display:block">
                            <div  id="uni_1">
                                {% if hayOpcion %}
                                    <label>Universidad</label>
                                    <select id="uni_prog" name="uni1" class=" form-control">
                                        {% for univer in universidades1 %}
                                            <option value="{{univer.id}}" {%if univer.id == estudiante.primeraOpcion.univ.id %} selected {% endif %}>{{univer.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div><br>
                            {{ formulario.tipoProgramaUno | bootstrap }}
                            <div class="col-md-7 col-sm-10">
                                {{ formulario.fechaInicioUno | bootstrap }}
                            </div>
                            <div class="col-md-4 col-sm-10">
                                {{ formulario.anoInicioUno | bootstrap }}
                            </div>
                            <div class="col-md-7 col-sm-10">
                                {{ formulario.fechaFinUno | bootstrap }}
                            </div>
                            <div class="col-md-4 col-sm-10">
                                {{ formulario.anoFinUno | bootstrap }}
                            </div>
                            {{ formulario.duracionUno | bootstrap }}
                        </div>
                    </div>
                    <div class="col-md-5 col-sm-10">
                        <h4 style="text-align: center;">Segunda Opción</h4>
                        {{ formulario.programaDos | bootstrap }}
                        <div id="paises_2">
                            {% if hayOpcion %}
                                    <label>País</label>
                                    <select id="paises_prog_dos" onchange="verUniv(this)" onclick="verUniv(this)" class=" form-control">
                                        {% for pais_2 in paises2 %}
                                            <option value="{{pais_2.id}}" {%if pais_2.iso == estudiante.segundaOpcion.univ.pais.iso %} selected {% endif %}>{{pais_2.printable_name}}</option>
                                        {% endfor %}
                                    </select>
                            {% endif %}
                        </div><br>
                        <div id="divPROGRAMA2" style="display: block;">
                            <div  id="uni_2">
                                {% if hayOpcion %}
                                    <label>Universidad</label>
                                    <select id="uni_prog_dos" name="uni2" class=" form-control">
                                        {% for univer in universidades2 %}
                                            <option value="{{univer.id}}" {%if univer.id == estudiante.segundaOpcion.univ.id %} selected {% endif %}>{{univer.nombre}}</option>
                                        {% endfor %}
                                    </select>
                                {% endif %}
                            </div><br>
                            {{ formulario.tipoProgramaDos | bootstrap }}
                            <div class="col-md-7 col-sm-10">
                            {{ formulario.fechaInicioDos | bootstrap }}
                            </div>
                            <div class="col-md-4 col-sm-10">
                            {{ formulario.anoInicioDos | bootstrap }}
                            </div>
                            <div class="col-md-7 col-sm-10">
                            {{ formulario.fechaFinDos | bootstrap }}
                            </div>
                            <div class="col-md-4 col-sm-10">
                            {{ formulario.anoFinDos | bootstrap }}
                            </div>
                            {{ formulario.duracionDos | bootstrap }}
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="row">
                        <div class="final col-md-4 col-md-push-4 col-sm-4 col-sm-push-4">
                            <input type='submit' class="btn btn-primary col-md-3" value='Atras' name="atras" />
                        </div>
                        <div class="final col-md-1 col-md-push-1 col-sm-1 col-sm-push-1">
                            <input type='submit' class="btn btn-primary" value='Siguiente' name="siguiente" />
                        </div>
                    </div>
                </div>
        </form>
    </div>
    <div id='datos'>

    </div>
{% endblock %}
