{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}
    <div class="row">
        <div class="col-md-5 col-md-push-1 col-sm-3">
            <h2>Situaciones excepcionales</h2>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6 col-md-push-2 col-sm-3">

            <p> <a href="/CasosPlanEstudio">Plan de estudios</a> </p>
            <p> <a href="/solicitarPasantia">Solicitud de pasantía</a> </p>
            <p> <a href="/proyectoGrado">Solicitud Proyecto de grado</a></p>
            <p> <a href="/extenderTrim">Extensión de trimestre</a></p>
            <p> <a href="/retirarIntercambio">Retirarse del intercambio</a></p>
        </div>
    </div>
{% endblock %}