{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}

    <div class="row">
        <div class="col-md-5 col-md-push-1 col-sm-3">
            <h2 >Disculpe</h2>
        </div>
    </div>
        <br>
    <div class="row">
        <div class="col-md-5 col-md-push-2 col-sm-3">
            <p style="text-align: center;"> Aun <strong>NO</strong> ha introducido todos los datos necesarios para su postulacion,</p>
            <p style="text-align: center;"> para poder descargar esta planilla debe culminar dicha postulacion.</p>
            <p style="text-align: center;"> Dirigase a <strong>'Gestion de solicitudes/Postularse'</strong></p>
        </div>
    </div>
{% endblock %}