{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}
    <div class="row">
        <div class="col-md-5 col-md-push-1 col-sm-3">
            <h2>Formulario de solicitud</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-5 col-md-push-1 col-sm-3">
            <p style="text-align: center;">Por favor complete los datos que son requeridos a continuación</p>
        </div>
    </div>

    <br>
    <div class="row">
        <div class="col-md-6 col-md-push-2 col-sm-3">

            <p>{% if estudiante.primerPaso %}  <span class="glyphicon glyphicon-check"></span>  {% else %} <span class="glyphicon glyphicon-"></span>{% endif%} <a href="/formularioUNO">1. Formulario de datos</a></p>
            <p>{% if estudiante.segundoPaso %} <span class="glyphicon glyphicon-check"></span>  {% else %} <span class="glyphicon glyphicon-"></span>{% endif%} <a href="/documentosRequeridos">2. Documentos requeridos</a>{% if estudiante.segundoPaso %}  {% endif%}</p>
            <p>{% if estudiante.tercerPaso %}  <span class="glyphicon glyphicon-check"></span>  {% else %} <span class="glyphicon glyphicon-"></span>{% endif%} <a href="/planEstudio">3. Plan de estudio</a></p>
            <p>{% if estudiante.cuartoPaso %}  <span class="glyphicon glyphicon-check"></span>  {% else %} <span class="glyphicon glyphicon-"></span>{% endif%} <a href="/dominioIdiomas">4. Dominio de idiomas</a></p>
        </div>
    </div>
{% endblock %}