{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}

    {% if yaPostulado %}
        <p> Disculpe, usted ya se postulo. Puede modificar su postulacion </p>
        <p> dirigiendose a Gestion de solicitudes / Modificar postulacion </p>
        <p> Gracias </p>
    {% else %}
        <h2>Formulario de solicitud</h2>
        <p>Por favor complete los datos que son requeridos a continuación</p>
        <p><a href="/formularioUNO">1. Formulario de datos</a> {% if estudiante.primerPaso %} Listo {% endif%}</p>
        <p><a href="/documentosRequeridos">2. Documentos requeridos</a>{% if estudiante.segundoPaso %} Listo {% endif%}</p>
        <p><a href="/planEstudio">3. Plan de estudio</a>{% if estudiante.tercerPaso %} Listo {% endif%}</p>
        <p><a href="/dominioIdiomas">4. Dominio de idiomas</a>{% if estudiante.cuartoPaso %} Listo {% endif%}</p>
    {% endif %}

{% endblock %}