{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}

    {% if not yaPostulado %}
        <p> Disculpe, usted ya se postulo. Puede modificar su postulacion </p>
        <p> dirigiendose a Gestion de solicitudes / Modificar postulacion </p>
        <p> Gracias </p>
    {% else %}
        <h2>Formulario de solicitud</h2>
        <p>Por favor complete los datos que son requeridos a continuación</p>
        <p><a href="/formularioUNO">1. Formulario de datos</a></p>
        <p><a href="#">2. Documentos requeridos</a></p>
        <p><a href="#">3. Plan de estudio</a></p>
        <p><a href="#">4. Dominio de idiomas</a></p>
    {% endif %}

{% endblock %}