{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion-contenido %}

    <h2>Registro de estudiantes USB</h2> <br>

    <form id='formulario' method='post' action=''> {% csrf_token %}
       <div class="row">
            <div class="col-md-5 col-sm-10">
                {{ UsuarioRepetido }}
                {{ formulario.username | bootstrap }}
            </div>
       </div>
       <div class="row">
            <div class="col-md-5 col-sm-10">
                {{ ContrasenaDist }}
                {{ formulario.contrasena1 | bootstrap }}
                {{ formulario.nombre1 | bootstrap }}
                {{ formulario.apellido1 | bootstrap }}
                {{ formulario.email | bootstrap }}
                {{formulario.carrera|bootstrap}}
            </div>
            <div class="col-md-5 col-sm-10">
                {{ formulario.contrasena2 | bootstrap }}
                {{ formulario.nombre2 | bootstrap }}
                {{ formulario.apellido2 | bootstrap }}
                {{ formulario.carnet | bootstrap }}

            </div>
       </div>

        <div class="row">
            <div class="final col-md-4 col-md-push-4 col-sm-4 col-sm-push-4">
                <input type='submit' class="btn btn-primary" value='Guardar' />
            </div>
        </div>

    </form>

{% endblock %}

