{% extends 'base.html' %}
{% load bootstrap %}

{% block js %}
{% endblock %}

{% block seccion-contenido %}
    <div class="container">
        <h3>Solicitar pasantía</h3>
        <br>
        <div class="row">
            <div class="col-md-8 col-md-push-2 col-sm-4">
                <p>Cargue el documento de su plan de pasantía y escriba sus razones por la que hace esta solicitud</p>
            </div>
        </div>
        <br>
        <form id='formulario' enctype='multipart/form-data' method='post' action=''> {% csrf_token %}
            <div class="row">

                    <div class="col-md-5 col-md-push-3 col-sm-2">
                        {{ formulario | bootstrap }}
                    </div>
            </div>

            <div class="row">
                <div class="final col-md-3 col-md-push-3 col-sm-3 col-sm-push-3">
                    <input type='submit' class="btn btn-primary" value='Enviar' />
                </div>
            </div>
        </form>
    </div>
{% endblock %}