<!DOCTYPE html>
<html>

<head>

    <meta charset="utf-8">
    <title>Sistema de Gestion de Intercambios - {{seccion}}</title>

    <!-- Core CSS - Include with every page -->
    <link href="{{ STATIC_URL }}/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/font-awesome/css/font-awesome.css" rel="stylesheet">

    <!-- Page-Level Plugin CSS - Dashboard -->
    <link href="{{ STATIC_URL }}/css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/plugins/timeline/timeline.css" rel="stylesheet">

    <!-- SB Admin CSS - Include with every page -->
    <link href="{{ STATIC_URL }}/css/sb-admin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}/css/main.css" rel="stylesheet">

    {% block css %}
    	{# solo para casos muy particulares #}
    {% endblock %}

</head>

<body>

    <div id="wrapper">

        <div class="container-fluid" style="text-align: center;">
                <a href="/"><img src="{{STATIC_URL}}//img/Banner Iintercambio.png" class="img-responsive" alt="Responsive image"></a>
        </div>

        <!-- /.navbar-static-top -->

        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
                {% if usuario == 'ninguno' %}
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#">Entrar</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="#">Iniciar Sesion</a>
                            </li>
                            <li>
                                <a href="#">Registrarse</a>
                            </li>
                        </ul>
                        <!-- /.nav-second-level -->
                    </li>
                 </ul>
                {% elif usuario == 'admin' %}
                <ul class="nav" id="side-menu">
                    <li>
                        <a href="#">Gestion de usuarios</a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a href="/administrador_crear_cuenta">Agregar usuario</a>
                            </li>
                            <li>
                                <a href="/administrador_listar_usuarios/0">Consultar usuarios</a>
                            </li>
                        </ul>

                    </li>
                    <li>
                         <a href="#">Ver/Modificar perfil</a>
                    </li>
                    <li><a href="#">Gestion de anuncions</a></li>
                    <li><a href="#">Log de auditoria</a></li>
                    <li><a href="/cerrar_sesion">Cerrar sesion</a></li>
                 </ul>
                 {% elif usuario == 'estudiante' %}
                 {% elif usuario == 'decanato' %}
                 {% elif usuario == 'coordinacion' %}
                {% endif %}
                <!-- /#side-menu -->
            </div>
            <!-- /.sidebar-collapse -->
        </nav>
        <!-- /.navbar-static-side -->

        <div id="main" class="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">{% block titulo%}{% endblock %}</h1>
                    <p class="heading">{% block subtitulo%}{% endblock %}</p>
                </div>
                {% block breadcrumbs %}
                {% endblock %}
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            {% block seccion-contenido%}
            {% endblock %}
            <!-- /.row -->
        </div>
        <!-- /#page-wrapper -->
		<footer>
		</footer>
    </div>
    <!-- /#wrapper -->

    <!-- Core Scripts - Include with every page -->
   <!-- <script src="{{ STATIC_URL }}/js/jquery-1.10.2.js"></script> -->
    <script>window.jQuery || document.write('<script src="{{STATIC_URL}}/js/jquery-1.10.2.js"><\/script>')</script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/plugins/metisMenu/jquery.metisMenu.js"></script>

    <!-- Page-Level Plugin Scripts - Dashboard -->
<!--
    <script src="{{ STATIC_URL }}/js/plugins/morris/raphael-2.1.0.min.js"></script>
    <script src="{{ STATIC_URL }}/js/plugins/morris/morris.js"></script>
-->

    <!-- SB Admin Scripts - Include with every page -->
    <script src="{{ STATIC_URL }}/js/sb-admin.js"></script>

    <!-- Page-Level Demo Scripts - Dashboard - Use for reference -->
    <script src="js/demo/dashboard-demo.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery-ui-1.10.4.custom.min.js"></script>

	{% block js-nivel-1 %}
	{% endblock %}
	{% block js-nivel-2 %}
	{% endblock %}
	{% block js-nivel-3 %}
	{% endblock %}

	{% block js %}
	{% endblock %}

</body>

</html>