{% extends 'base.html' %}
{% load bootstrap %}

{% block seccion-contenido %}
{% if perfilPostulanteCambiado %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Perfil cambiado exitosamente!
    </div>
{% endif %}
{% if perfilEstudianteCambiado %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Perfil cambiado exitosamente!
    </div>
{% endif %}
{% if perfilGestorCambiado %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Perfil cambiado exitosamente!
    </div>
{% endif %}
{% if pasantiaEnviada %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Solicitud de pasantía enviada exitosamente! Cuando sea evaluada se le notificará
    </div>
{% endif %}
{% if trimEnviado %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Solicitud de extensión de trimestre enviada exitosamente! Cuando sea evaluada se le notificará
    </div>
{% endif %}
{% if proyectoEnviado %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert" aria-hidden="True">&times;</button>
        ¡Solicitud proyecto de grado enviada exitosamente! Cuando sea evaluada se le notificará
    </div>
{% endif %}

{% if  user.first_name == 'admin' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted podrá gestionar el proceso de intercambio de un estudiante. <br>

        <center>
     </font>
{% endif %}


{% if  user.first_name == 'estudianteUSB' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted se podrá postular para realizar un intercambio en una universidad extrajera. <br>

        <center>
     </font>
{% endif %}

{% if  user.first_name == 'coordinacion' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted podrá evaluar el proceso de intercambio de un estudiante. <br>

        <center>
     </font>
{% endif %}

{% if  user.first_name == 'estudianteExt' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted se podrá postular para realizar un intercambio en la USB. <br>

        <center>
     </font>
{% endif %}

{% if  user.first_name == 'decanato' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted se podrá gestionar las postulaciones de los estudiantes. <br>

        <center>
     </font>
{% endif %}

{% if  user.first_name == 'dric' %}
    <br>
    <br>
    <br>
    <br>
    <font size=5>
        <center> ¡Bienvenido al Sistema de Gestión de Intercambios! <center> <br>
    </font>
    <font size=4>
        <center> A través de este sistema usted se podrá gestionar las postulaciones de los estudiantes. <br>

        <center>
     </font>
{% endif %}



{% endblock %}
