.table-responsive{

    max-height:450px;
    overflow-y: auto;

}

.modal-dialog{
	width: 90%;
}

nav.navbar .navbar-brand.logo{
	padding: 5px 15px;
	vertical-align: middle;
}

nav.navbar .navbar-brand.logo img{
	padding-top: 3px;
}